################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQProject/.vs/RabbitMQProject/FileContentIndex
